<%
need_second_row = !service_info.files_to_view.empty? || !service_info.urls_to_view.empty?
%>
<tr class="<%= even_or_odd ? 'even' : 'odd' %>">
  <td<%= need_second_row ? ' rowspan="2"' : '' %>><%= h(service_info.pid) %></td>
  <th scope="row"><%= h(service_info.name) %></th>
  <td><%= '%5.2d' % service_info.uptime) %></td>
  <td><%= stat_subst(service_info.stat) %></td>
  <td>
    <% if service_info.active? %>
      <% if service_info.run? %>
        <%= service_action service_info.name, :restart, t.runit.services.table.actions.restart %>
        <%= service_action service_info.name, :down, t.runit.services.table.actions.stop %>
      <% else %>
        <%= service_action service_info.name, :up, t.runit.services.table.actions.start %>
      <% end %>
      <% if service_info.switchable? %>
        <%= service_action service_info.name, :switch_down, t.runit.services.table.actions.switch_down %>
      <% end %>
    <% else %>
      <% if service_info.switchable? %>
        <%= service_action service_info.name, :switch_up, t.runit.services.table.actions.switch_up %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if service_info.logged? %>
      <%= log_link(service_info.name, :hint => t.runit.services.table.values.log_hint(service_info.name), :blank => true, :title => service_info.log_file_location) %>
    <% else %>
      <%= t.runit.services.table.values.log_absent %>
    <% end %>
  </td>
</tr>
<% if need_second_row %><tr><td colspan="4">
<% unless service_info.files_to_view.empty? %>
  <%= h(t.runit.services.table.values.files_to_view) %>:
  <% service_info.files_to_view.each do |f| %>
    <a href="/view?file=<%= h(f) %>"><%= h(f) %></a>
  <% end %>
<% end %>
<% unless service_info.urls_to_view.empty? %>
  <%= h(t.runit.services.table.values.urls_to_view) %>:
  <% service_info.urls_to_view.each do |url| %>
    <a href="<%= h(url) %>"><%= h(url) %></a>
  <% end %>
<% end %>

</td></tr><% end %>
