<tr class="<%= even_or_odd ? 'even' : 'odd' %>">
  <td><%= h(service_info.pid) %></td>
  <th scope="row"><%= h(service_info.name) %></th>
  <td><%= stat_subst(service_info.stat) %></td>
  <td>
    <% if service_info.active? %>
      <% if service_info.run? %>
        <%= service_action service_info.name, :restart, t.runit.services.table.actions.restart %>
        <%= service_action service_info.name, :down, t.runit.services.table.actions.stop %>
      <% else %>
        <%= service_action service_info.name, :up, t.runit.services.table.actions.start %>
      <% end %>
      <% if service_info.switchable? %>
        <%= service_action service_info.name, :switch_down, t.runit.services.table.actions.switch_down %>
      <% end %>
    <% else %>
      <% if service_info.switchable? %>
        <%= service_action service_info.name, :switch_up, t.runit.services.table.actions.switch_up %>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if service_info.logged? %>
      <%= log_link(service_info.name, :hint => t.runit.services.table.values.log_hint(service_info.name), :blank => true, :title => service_info.log_file_location) %>
    <% else %>
      <%= t.runit.services.table.values.log_absent %>
    <% end %>
  </td>
</tr>
