!!! 5
%html
  %head
    %title= h(t('runit.title', :p1 => @title, :p2 => t('runit.label')))
    %link{:href=>"/css/tripoli.simple.css", :type=>"text/css", :rel=>"stylesheet"}/
    /[if IE]
      %link{:href=>"/css/tripoli.simple.ie.css", :type=>"text/css", :rel=>"stylesheet"}/
    %link{:href=>"/css/runit-man.css", :type=>"text/css", :rel=>"stylesheet"}/
  %body
    #container
      #header
        .content
          %strong= h(t('runit.header', :p1 => host_name, :p2 => t('runit.label')))
          %a{:href=>'/info'}= h(t('runit.info.title'))

      .content= yield_content :content

      #footer
        .content= yield_content :footer
    - @scripts.each do |name|
      %script{:type=>"text/javascript", :src=>"/js/#{h(name)}.js"}

