- content_for :content do
  = t('runit.services.log.header', :name => h(name), :host => h(host_name), :count => h(count))
  %p
    = t('runit.services.log.counts', :count => [100, 250, 500, 1000, 5000].map { |n| log_link(name, :count => n, :title => n) }.join(' '))
    |
    = log_downloads_link(name)
  - logs.each do |log|
    = t('runit.services.log.subheader', :log_location => h(log[:location]))
    &nbsp;|&nbsp;
    = log_link(name, :count => count, :title => t('runit.services.log.raw'), :id => log[:id],  :raw => true, :blank => true)
    %pre= h(log[:text])

- content_for :footer do
  %p
    = t('runit.services.log.updated', :time => I18n.l(Time.now.utc))
    %a.btn.btn-info{:href=>"javascript:;", :rel=>"nofollow", :onclick=>"window.location.reload()"}= t('runit.services.log.reload')

