- content_for :content do
  = t('runit.view_file.header', :file =>h(name), :host => h(host_name))
  &nbsp;|&nbsp;
  %a{:href=>"/view.txt?file=#{name}"}= t('runit.view_file.raw')
  %pre= h(text)
- content_for :footer do
  %p
    = t('runit.view_file.updated', :time => Time.now.utc)
    %a.btn.btn-info{:href=>"javascript:;", :rel=>"nofollow", :onclick=>"window.location.reload()"}= t('runit.view_file.reload')

